
.bg-img{
    background-image: url('../Image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.row-list li{
    margin-right: 120px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgb(106, 102, 102);
}
.seats{
    font-weight: 600;
    border: none;
    font-size: 14px;
    margin: 0 8px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #6c757d;
    transition: all 0.3s;

}
.seats:hover{
    color: #e9a30d;
    transition: all 0.3s;
}